.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #696969;
}
.Login .login-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 4px 3px #00000069;
}
.Login .login-section > div > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Login .coloured {
  color: #028477;
  font-size: 25px;
}
.Login section input {
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  border: none;
  color: white;
  background: #272727;
  border-bottom: 1px solid #0096885c;
}
.Login button {
  color: #1b1c1d;
  margin: 10px 0;
  background-color: #009688;
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.Login a {
  padding: 15px;
  color: #009688;
  text-decoration: none;
}
